
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<!--
    Insert some statistics about our website and why we're better than the competition

-->

<div class="jumbotron col-md-10 col-md-offset-1">
    <h1>About us</h1>
    <p>Here at Instadate, we're a special kind of dating website. We aim to find you a date faster than any other dating website! With our advanced matching algorithm, we help you find the best person for you</p>
    <h2>How are we different?</h2>
    <p>It's not just our advanced algorithms that make us great, it's our instant date finder that puts us above the rest. Bored on a Saturday night? Feeling adventurous? Simply enter in the time you went to go out and we'll find you a date who's also free at that time! As a bonus, we'll also figure out a place for you two to meet! </p>

</div>
