
@{
    ViewBag.Title = "About";
}

<h2 class="about">InstaDate</h2>

<p class="about">Welcome to InstaDate! Here at instadate, we allow you to browse for your soulmate either through browsing profiles or we allow you to instantly match with someone and go on an instant date!</p>