@{
    ViewBag.Title = "BlindDaters";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a id="myAccount" href="#">Date Matches!</a></li>
    </ul>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/profilePic.jpg" alt="...">
                <div class="caption">
                    <h3>username</h3>
                    <p>...</p>
                    <p><a href="~/Home/dateSummary" class="btn btn-info" role="button">Book a Date</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/profilePic.jpg" alt="...">
                <div class="caption">
                    <h3>username</h3>
                    <p>...</p>
                    <p><a href="~/Home/dateSummary" class="btn btn-info" role="button">Book a Date</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/profilePic.jpg" alt="...">
                <div class="caption">
                    <h3>username</h3>
                    <p>...</p>
                    <p><a href="~/Home/dateSummary" class="btn btn-info" role="button">Book a Date</a></p>
                </div>
            </div>
        </div>
    </div>
