
@{
    ViewBag.Title = "CompleteRegistration";
}

<div class="w3-margin w3-padding-medium">
    @if (TempData["Message"] != null)
    {

          <p>@TempData["Message"]</p>
        

    }

</div>


