
@{
    ViewBag.Title = "FindADate";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<ul class="nav nav-pills">
    <li role="presentation" class="active"><a id="myAccount" href="#">Choose a Date!</a></li>
</ul>
<form action="~/Home/blindDateProfiles" method="get">
   <h3> Pick a date!</h3>
    <input type="date" name="date" />
    <h3> Pick a time!</h3>
   
    <label>Start time: </label>
<input type="time" name="time" />
    <label>End time: </label>
    <input type="time" name="time" />

    <h3> Pick a place!</h3>
<select>
    <option>
        Restaurant
    </option>
    <option>
        Movies
    </option>
    <option>
        Theme Park
    </option>
    <option>
        we'll see
    </option>
</select>
    <label>Country </label>
    <select> 
        <option>
            Canada
        </option>
        <option>
            United States
        </option>
        <option>
            Mexico
        </option>
    </select>
    <label>Province </label>
    <select>
        <option>
            British Columbia
        </option>
        <option>
            Alberta
        </option>
        <option>
            Saskatchewan
        </option>
    </select>
    <label>City </label>
<select>
    <option>
        Vancouver
    </option>
    <option>
        Burnaby
    </option>
    <option>
        Coquitlam
    </option>
</select>

    <br/>
    <br />
    <input type="submit" name="submit" value="Submit" />
          
 </form>
