
@{
    ViewBag.Title = "findADate";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="http://lab.iamrohit.in/js/location.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap-timepicker.min.js"></script>
<link href="~/CSS/bootstrap-timepicker.min.css" rel="stylesheet" />


   


    @using (Html.BeginForm())
    {
    //@Html.AntiForgeryToken()
         
    <div class="form-horizontal col-md-6 col-md-offset-3" id="myform" ng-app="" style="margin-top:20px!important">
        <h4 style="padding-left:15px!important; margin-top:20px!important">Find a Date</h4>
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group col-md-10">
            <div class="col-md-10">
                <input type="text" name="userName" value="@User.Identity.Name" class="form-control" hidden />
            </div>
        </div>
   

        <div class="form-group col-md-10" >
        
            <div class="col-md-10">
                <label>Available Date</label>
                <input ng-model="date" required type="date" name="availableDate" class="form-control" />               
            </div>
        </div>


        <div class="form-group bootstrap-timepicker timepicker col-md-10">
            <div class="col-md-10">
                <label>Start time</label>
                <input ng-model="time" required id="timepicker1" name="timepicker1" type="text" class="form-control input-small">              
            </div>
        </div>
        <div class="form-group col-md-10">
            <div class="col-md-10">
                <label>What gender are you looking for?</label>
                <label class="radio-inline"><input type="radio" name="gender" value="male" checked>Male</label>
                <label class="radio-inline"><input type="radio" name="gender" value="female">Female</label><br />
            </div>
        </div>
        <div class="form-group col-md-10">
            <div class="col-md-10">
            <label for="Location">Location:</label><br />
            <select ng-model="country" required name="country" class="countries" id="countryId">
                <option value="">Select Country</option>
            </select>
            <select ng-model="province" required name="state" class="states" id="stateId">
                <option value="">Select State</option>
            </select>
                </div>
        </div>


        <div class="form-group col-md-10">
            <div class="col-md-10">
                <input type="submit" value="Submit" class="btn btn-info" />
            </div>
        </div>
    </div>
    }

  
<script type="text/javascript">
    $('#timepicker1').timepicker({
        minuteStep: 30
    });

</script>


