
@{
    ViewBag.Title = "ForgotPassword";
}

@if (ViewBag.Message != null)
{

    <div class="alert alert-info alert-dismissible col-md-8 col-md-offset-2 message" role="alert" style="margin-top:20px!important">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="message-inside">
            <span>@ViewBag.Message</span>
        </div>
    </div>

}


<div class="col-xs-4 col-xs-offset-2" style="margin-top:20px">

    <form method="post" action="~/Home/ForgotPassword" name="myForm" ng-app="">
        <div class="form-group">
            <div class="col-xs-12">
                <lable style="font-size:13px">Please enter your email</lable>
                <input type="email" class="form-control input-sm" name="email" placeholder="Email" ng-model="emailInput" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-info btn-sm" style="margin-top:10px!important" ng-disabled="myForm.$invalid">Submit</button>
            </div>
        </div>
    </form>
</div>



