@model WebApplication9.Models.Login

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomePage.cshtml";
}

<p class="col-md-3 col-md-offset-8 error">@Html.Raw(ViewBag.ErrorMessage)</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-md-3 col-md-offset-8">
        
            <div class="col-md-10 col-md-offset-1">
             
                <input type="submit"  value="Log in" class="btn btn-info col-md-12" style="margin-top:20px" />
                
            </div>
        </div>
        <p class="col-md-10 col-md-offset-2">Not a member? <a href="~/Home/SignUp">Join now</a></p>
    </div>


}





<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
