
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomePage.cshtml";
}


<form action="~/Home/MyAccount" class="col-md-3 col-md-offset-8">
    <div class="page-header">
        <h4>Welcome Back</h4>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-info">Log in</button>
    <p class="col-md-10 col-md-offset-2">Not a member? <a href="~/Home/SignUp">Join now</a></p>
</form>
