
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}




<div class="btn-group" role="group" aria-label="...">
    <a class="btn btn-info" href="#" role="button">Users near you</a>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View By Interest
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Movie</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Reading</a></li>
        </ul>
    </div>
</div>





<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/image1.jpg" alt="...">
            <div class="caption">
                <h3>username</h3>
                <p>...</p>
                <p><a href="~/Home/Profile" class="btn btn-info" role="button">Learn more</a> <a href="#" class="btn btn-danger" role="button">Like <span class="badge">420</span></a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/image2.jpg" alt="...">
            <div class="caption">
                <h3>username</h3>
                <p>...</p>
                <p><a href="~/Home/Profile" class="btn btn-info" role="button">Learn more</a> <a href="#" class="btn btn-danger" role="button">Like <span class="badge">400</span></a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/image4.jpg" alt="...">
            <div class="caption">
                <h3>username</h3>
                <p>...</p>
                <p><a href="~/Home/Profile" class="btn btn-info" role="button">Learn more</a> <a href="#" class="btn btn-danger" role="button">Like <span class="badge">389</span></a></p>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/image3.jpg" alt="...">
            <div class="caption">
                <h3>username</h3>
                <p>...</p>
                <p><a href="~/Home/Profile" class="btn btn-info" role="button">Learn more</a> <a href="#" class="btn btn-danger" role="button">Like <span class="badge">350</span></a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/image5.jpg" alt="...">
            <div class="caption">
                <h3>username</h3>
                <p>...</p>
                <p><a href="~/Home/Profile" class="btn btn-info" role="button">Learn more</a> <a href="#" class="btn btn-danger" role="button">Like <span class="badge">320</span></a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Images/image6.jpg" alt="...">
            <div class="caption">
                <h3>username</h3>
                <p>...</p>
                <p><a href="~/Home/Profile" class="btn btn-info" role="button">Learn more</a> <a href="#" class="btn btn-danger" role="button">Like <span class="badge">280</span></a></p>
            </div>
        </div>
    </div>
</div>