
@{
   
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!--
    ----------------------------------------------------------------
    Edit Profile | View Profile | Mail Settings | Upload Images
    ----------------------------------------------------------------
    About, Details, intent, personality, city, ethnicity, education, profession, (not precise but it should be whatever we use to sign up with)

    Picture



-->

<p>@Html.ActionLink("Edit", "Update")</p>