
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StartAConversation</title>
    <link rel="stylesheet" href="~/CSS/bootstrap.css">
    <link rel="stylesheet" href="~/CSS/Instadate.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//js.pusher.com/3.0/pusher.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>
    <h2>start a conversation</h2>
    <div class="col-xs-12" style="margin-top:20px;margin-bottom:20px;border-radius:4px;padding-left: 0px;
    padding-right: 0px;">
        <input id="sendTo" value="@ViewBag.receiver" style="display:none"><br />
        <input id="sendFrom" value="@User.Identity.Name" style="display:none" /><br />
        <div class="conversation-outer-container col-xs-12">
            <p>Instadate: waiting for @ViewBag.receiver accept ....</p>
            <ul id="conversation-container"></ul>
        </div>
        <textarea id="instant-message" class="col-xs-10"></textarea>
        <button id="sendMessage" class="col-xs-2"><i class="fa fa-lock"></i><i class="fa fa-unlock hidden"></i>Send</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/signalr/hubs"></script>


    <script>
        var StartAConversation;
        var WindowBlongToSender = $("#sendFrom").val();
        var WindowBlongToReceiver = $("#sendTo").val();
        var hasaccepted = false;
      

     $(function () {
         

     
         $("#sendMessage").prop('disabled', true);

         var chat = $.connection.chatHub;
    
         chat.client.informedAccept = function (accept_receiver, accept_sender) {
             if (WindowBlongToSender == accept_receiver && WindowBlongToReceiver == accept_sender) {

                

                 if (hasaccepted == false) {
                     $('#conversation-container').append('<p id="wait">Instadate:' + accept_sender + ' accepeted the invitation. Now you can talk to each other</p>');
                     $("#sendMessage").prop('disabled', false);
                     $('.fa-lock').addClass('hidden');
                     $('.fa-unlock').removeClass('hidden');
                     hasaccepted = true;
                 }
               
             }
                               
        }
         

         chat.client.sendMessage = function (sender, message, time) {
             var checksender = $("#sendTo").val();
             if (sender == checksender)//prevent append to other people's div
             $('#conversation-container').append('<li><strong class="sender">' + sender + '</strong>' + ': ' + '<span>' + message + '</span>' + '<span style="margin-left:20px">' + time + '</span>');
         };

         $.connection.hub.start().done(function () {
            /*--test-waiting-for-accept*/
            $('.start_a_conversation').click(function (event) {
                event.preventDefault();
                window.open($(this).attr("href"), 'startAConversation', "width=600,height=600,scrollbars=yes");
                start_receiver = $("#sendTo").val();
                start_sender = $("#sendFrom").val();
                chat.server.startAConversation(start_receiver, start_sender);
            });

                /*---*/
            $('#sendMessage').click(function () {
                // Call the Send method on the hub.
                receiver = $("#sendTo").val();
                sender = $("#sendFrom").val();
                var d = new Date();
                var time = d.toLocaleString();
                var message = $('textarea#instant-message').val();
                $('#conversation-container').append('<li><strong>' + sender + '</strong>' + ': ' + '<span>' + message + '</span>' + '<span style="margin-left:20px">' + time + '</span></li>');
                chat.server.send(receiver, sender, message, time);
                $('textarea#instant-message').val('').focus();
                });
            });

        });
    </script>
</body>
</html>

