
@{
    ViewBag.Title = "Upgrade";
}

<h2 class="about">Why upgrade?</h2>

<div class="container" style="font-family: Verdana"> 
If you pay a small fee of $n a month, we can upgrade you to a paid user account! What benefits does this give you? 
Paid users get search priority! Your lovely profile will appear above all basic users on our square page, awesome right?                
</div>

<button class="btn btn-info center-block" >
    Upgrade
</button>