
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="jumbotron col-md-10 col-md-offset-1">
    <h1>Hello, @ViewBag.UserName</h1>
    <p>Welcome to Instadate - The best spot for adventurous romance & online dating! Get a real chance to find the right person, one whom you will never meet in crowded clubs or on other dating sites. It’s the person who understands you perfectly! Enter Instadate and discover the world of pure romance and flirty dating ideas! Meet like-minded locals who are ready to have some fun, just as you are. Instadate is the place where every playful desire comes true. Use our handy features, which are made especially to help you to find your match! Try it out and feel the difference!</p>
    <p><a class="btn btn-info btn-lg" href="#" role="button">Learn more</a></p>
</div>

